* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  padding: 12px;
  padding-top: 60px;  /* 确保内容不会被固定导航栏覆盖 */
}

.grid {
  display: grid;
  gap: 1px;
  margin: 0 auto;
}

.cell {
  background: #ddd;
}
