* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    /* 确保内容不会被固定导航栏覆盖 */
    padding: 60px 12px 12px;
    background-image: url('../Img_src/BackPack.png'); /* 根据 Img_src 文件夹的位置设置路径 */
    background-size: cover; /* 使背景图覆盖整个容器 */
    background-repeat: no-repeat; /* 不重复背景图 */
    background-position: center; /* 背景图居中 */
    background-attachment: fixed;
    min-height: 100vh; /* 确保容器最小高度为视口高度 */
    position: relative;

}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.logo {
    max-width: 150px;
    transition: opacity 2s ease; /* 控制透明度的过渡时间 */
    position: fixed; /* 固定在页面右上角 */
    top: 20px;
    right: 10px;
    animation: spin 3s linear 1; /* 旋转两圈后停止 */
}

.stopFlipping {
    animation: none;
}

@keyframes spin {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}



.grid {
    display: grid;
    gap: 1px;
    margin: 0 auto;
}

.cell {
    background: #ddd;
}

.cardsGrid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    margin-top: 20px;
}

.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1px;
    text-align: center;
    transition: transform 0.2s;
    background-color: rgba(255, 255, 255, 0.3); /* 常态时降低透明度的白色背景 */
    backdrop-filter: blur(3px); /* 添加模糊效果 */
    width: 150px; /* 设置卡片的固定宽度，缩小卡片整体 */
    height: auto; /* 设置卡片的固定高度 */

}

.card:hover {
    transform: scale(1.8);
}

.cardImage {
    width: 75%;
    height: auto;
    border-radius: 8px;
}

.cardContent {
    margin-top: 10px;
}

.cardContent h3 {
    margin: 0;
    font-size: 1.2em;
}

.cardContent p {
    margin: 5px 0;
}




