* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    padding: 60px 12px 12px;
    background-image: url('../Img_src/Shop.webp'); /* 设置背景图路径 */
    background-size: cover; /* 背景图覆盖整个容器 */
    background-repeat: no-repeat; /* 背景图不重复 */
    background-position: center; /* 背景图居中 */
    background-attachment: fixed; /* 背景图片固定不动 */
    min-height: 100vh; /* 确保容器最小高度为视口高度 */
    position: relative;
    cursor: url("../Img_src/PokemonBall.png"), auto; /* 设置自定义光标 */
}

.logo {
    max-width: 150px;
    transition: opacity 2s ease;
    position: fixed;
    top: 20px;
    right: 10px;
    animation: spin 3s linear 1;
}

.stopFlipping {
    animation: none;
}

@keyframes spin {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}

.grid {
    display: grid;
    gap: 1px;
    margin: 0 auto;
}

.cell {
    background: #ddd;
}

.container {
    padding: 20px;
    text-align: center;
  }
  
  .cardsGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  
  .card {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    background-color: rgba(255, 255, 255, 0.8); /* 使用半透明白色背景 */
    backdrop-filter: blur(5px);
    text-align: center;
  }
  
  .card:hover {
    transform: scale(1.1); /* 鼠标悬停时放大 */
    z-index: 10;
  }
  
  .cardImage {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .cardContent {
    margin-top: 10px;
  }
  
  .cardContent h4 {
    margin: 10px 0;
  }
  
  .cardContent p {
    margin: 5px 0;
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .pagination button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .pagination button:hover {
    background-color: #45a049;
  }
  
  .activePage {
    background-color: #333; /* 当前页码的背景色 */
  }
  
  .error {
    color: red;
  }
  